*~
Applications
CLionProjects
Desktop
Documents
Downloads
IdeaProjects
Library
Movies
Music
Pictures
Public
RiderProjects
Untitled.key
bin
etc
installers
keys.tar
license.dash-license
node_modules
package-lock.json
projects
tmp
