*~
Applications
CLionProjects
Desktop
Documents
Downloads
IdeaProjects
Library
Movies
Music
Pictures
Public
RiderProjects
Untitled.key
bin
etc
installers
keys.tar
license.dash-license
node_modules
package-lock.json
projects
tmp
.ident
Applications
bin
Desktop
Documents
Downloads
Dropbox
etc
Library
LICENSE
Movies
Music
OneDrive
original.bash_profile
original.bashrc
Pictures
Public
README.md
Applications
bin
Desktop
Documents
Downloads
Dropbox
etc
Library
LICENSE
Movies
Music
OneDrive
original.aliases
original.bash_login
original.bash_profile
original.bashrc
original.git-completion.sh
original.git-prompt.sh
original.gitconfig
original.gitk
original.ident
original.profile
original.swear
original.tmux.conf
original.zlogin
original.zshrc
originalLICENSE
originalREADME.md
Pictures
Public
README.md
Applications
bin
Desktop
Documents
Downloads
Dropbox
etc
Library
LICENSE
Movies
Music
OneDrive
original.aliases
original.bash_login
original.bash_profile
original.bashrc
original.git-completion.sh
original.git-prompt.sh
original.gitconfig
original.gitk
original.ident
original.profile
original.swear
original.tmux.conf
original.zlogin
original.zshrc
originalLICENSE
originalREADME.md
Pictures
Public
README.md
