alias ag="ag --pager='less -XFR'"
alias cowsay="cowsay -f ~/etc/monk.cow"
alias cucumber="cucumber -s"
alias d="docker"
alias dc="docker-compose"
alias fortune="cowsay -f ~/etc/monk.cow `fortune`"
alias g="git"
alias gg="git grep"
alias rspec="rspec -f documentation -c"
alias trim='git fetch --prune && git branch --merged | grep -E -v "^((\* )|\s*(develop|master)$)" | xargs git branch -d'
alias rv='rm -Rf venv && python -m venv venv && source venv/bin/activate && pip install --upgrade pip setuptools && deactivate'
